<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>管理员修改</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" th:href="@{/back/layui/css/layui.css}" media="all" />
	<link rel="stylesheet" th:href="@{/back/css/user.css}" media="all" />
	<style type="text/css">
		.layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
		@media(max-width:1240px){
			.layui-form-item .layui-inline{ width:100%; float:none; }
		}
	</style>
</head>
<body class="childrenBody">
	<form class="layui-form" enctype="multipart/form-data" method="post">
		<div class="user_left">
		<input name="a_id" type="hidden" id="a_id" th:value="${admin.a_id}"/>
		<input name="a_modify" type="hidden" id="a_modify" th:value="${admin.a_id}"/>
			<div class="layui-form-item">
			    <label class="layui-form-label">用户名</label>
			    <div class="layui-input-block">
			    	<input id="a_name" name="a_name" type="text" th:value="${admin.a_name}" class="layui-input" placeholder="请输入用户名">
			    </div>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">真实姓名</label>
			    <div class="layui-input-block">
			    	<input id="a_realName" name="a_realName" type="text" th:value="${admin.a_realName}" placeholder="请输入真实姓名" lay-verify="required" class="layui-input">
			    </div>
			</div>
			<div class="layui-form-item" pane="">
			    <label class="layui-form-label">性别</label>
			    <div class="layui-input-block" id="a_sex" th:if="${admin.a_sex==0}">
			    	<input type="radio" name="a_sex" id="0" value="0" title="男" checked="checked">
	     			<input type="radio" name="a_sex" id="1" value="1" title="女">
			    </div>
			    <div class="layui-input-block" id="a_sex" th:if="${admin.a_sex==1}">
			    	<input type="radio" name="a_sex" id="0" value="0" title="男">
	     			<input type="radio" name="a_sex" id="1" value="1" title="女" checked="checked">
			    </div>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">手机号码</label>
			    <div class="layui-input-block">
			    	<input id="a_phone" name="a_phone" type="tel" th:value="${admin.a_phone}" placeholder="请输入手机号码" lay-verify="required|phone" class="layui-input">
			    </div>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">出生年月</label>
			    <div class="layui-input-block">
			    	<input id="a_born" name="a_born" type="text" th:value="${hh}" placeholder="请输入出生年月" lay-verify="required|date" class="layui-input">
			    </div>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label" style="margin-right: 0;">地址</label>
			    <div class="layui-input-block">
			    	<input id="a_address" name="a_address" type="text" th:value="${admin.a_address}" lay-verify="required|address" class="layui-input">
			    </div>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">邮箱</label>
			    <div class="layui-input-block">
			    	<input id="a_email" name="a_email" type="text" th:value="${admin.a_email}" placeholder="请输入邮箱" 
			    	lay-verify="required|email" class="layui-input">
			    </div>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">自我描述</label>
			    <div class="layui-input-block">
			    	<textarea id="a_des" name="a_des" placeholder="请输入内容" class="layui-textarea">[[${admin.a_des}]]</textarea>
			    </div>
			</div>
			<div class="layui-form-item">
			    <label class="layui-form-label">选择照片</label>
			    <div class="layui-input-block">
			    	<input type="file" id="a_picpath" name="a_picpath" th:value="${admin.a_picpath}">
			    </div>
			</div>
		</div>
		<!-- <div class="user_right">class="layui-upload-file"
			<input type="file" name="dddd" th:value="请选择一个头像">
			<p>选择图片</p>
			<img th:src="${admin.a_picpath}" class="layui-circle" id="a_picpath" name="a_picpath" width="150" height="150" >
		</div> -->
		<div class="layui-form-item" style="margin-left: 5%;">
		    <div class="layui-input-block"> 
				<button class="layui-btn layui-btn-normal" type="submit" lay-submit="" lay-filter="*">立即提交</button>
				<button type="reset" class="layui-btn">重置</button>
		    </div>
		</div>
	</form>
	<script type="text/javascript" th:src="@{/back/layui/layui.js}"></script>
	<script type="text/javascript" th:src="@{/back/pagejs/address.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/back/pagejs/user.js}"></script> -->
 	<script type="text/javascript" th:src="@{/back/pagejs/AdminAdd.js}"></script>
 	<script type="text/javascript" th:src="@{/back/js/jquery-1.8.2.min.js}"></script>
 	<script type="text/javascript">
		layui.use(['jquery','form'],function(){
			var form = layui.form();
			
			form.on("submit",function(data){
				$.ajax({
					url : "/admin/adminModifySave",
					type : "POST",
					data : {
						a_id:$("#a_id").val(),a_modify:$("#a_modify").val(),a_name:$("#a_name").val(),a_realName:$("#a_realName").val(),
						a_sex:$('input:radio:checked').val(),a_phone:$("#a_phone").val(),a_born:$("#a_born").val(),
						a_address:$("#a_address").val(),a_email:$("#a_email").val(),a_des:$("#a_des").val(),
						a_picpath:$("#a_picpath").val(),file:$("#a_picpath").val()},
					dataType : "JSON",
					success : function(data){
						var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
							parent.layer.close(index);    //关闭弹出层
							window.parent.location.reload();   //刷新父界面
					}
				})
			})

		})
	</script>
 	<!-- <script type="text/javascript">
 		layui.use(['jquery','form','upload'],function(){
 			var form = layui.form();
 			//判断是否修改过头像，如果修改过则显示修改后的头像，否则显示默认头像
 	        if(window.sessionStorage.getItem('a_picpath')){
 	        	$("#a_picpath").attr("th:src",window.sessionStorage.getItem('a_picpath'));
 	        }else{
 	        	$("#a_picpath").attr("th:src",${admin.a_picpath});
 	        }
 		}
 	</script> -->
</body>
</html>