<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>所有医生列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/pre/res1/static/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/pre/res1/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/pre/res1/layui/layui.js}"></script>
    <!--导航条-->
	<link href="http://www.mingyihui.net/templates/skins/red2017/css/header.css?v=20171018" rel="stylesheet">
    <script type="text/javascript" th:src="@{/pre/res1/layui/layui.js}"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <style>
        data span {
            font-size: 15px;
            color: green;
        }
        .info-cont span{
            font-size: 15px;
            color: green;
        }
        .info-cont a{
            color: green;
        }
        .registration  span{
			position: relative;
			right: auto ;
			display: inline;
			width: 148px;
			border-radius: 3px;
			font-size: 14px;
			height: 30px;
			border: 1px solid green;
			padding: 3px;
			text-align:center;
        }
        .registration a.on {
            padding: 3px;
            border-radius: 3px;
            background: green;
        }
        .registration a.on span{
            padding: 2px;
            color: #fff;
        }
        .registration a:hover{
            color: #e72231;
        }
        .registration a.on:hover{
            background: green;
            color: #fff;
            border: 1px solid green;
        }
        .fl #right{
            position: relative;
            left:650px;
        }
    </style>
</head>
<body>
<div class="g_top">
    <div class="w1200 g_top_contant">
        <div class="w1200 g_top_contant">
            <!--未登录-->
            <div class="fl" id="notLogin">
                <ul class="login-registration">
                    <li class="on popup_li" th:if="${session.user == null}"><!-- javascript:jumpLogin(); -->
                        <a href="@{/pre/login}" target="_self" style="color: green;">登录</a>
                    </li>
                    <li class="on popup_li" th:if="${session.user != null}"><!-- javascript:jumpLogin(); -->
                        <!-- <a href="/pre/login" target="_self" style="color: green;">登录</a> -->
                      	 <p style="top:-10px;">用户：<span style="color: blue;">[[${session.user.u_name}]]</span></p>
                    </li>
                    <li class="on zhuce">
                        <a href="javascript:jumpRegister();" target="_self"style="color: green;">注册</a>
                    </li>
                </ul>
                <ul class="login-registration">
                    <li class="on popup_li">
                        <span class="top_nav_icon"></span>
                    </li>
                </ul>
               <ul class="login-registration" id="right">
                    <li class="on zhuce" th:if="${session.user != null}">
                        <a href="/set" target="_self"style="color: green;">我的约单</a>
                    </li>
                    <li class="on zhuce" th:if="${session.user != null}">
                        <a href="/index" target="_self"style="color: green;">个人中心</a>
                    </li>
                    <li class="on zhuce">
                        <a href="/about" target="_self"style="color: green;">关于我们</a>
                    </li>
                    <li class="layui-nav-item" lay-unselect="">
                        <a href="/loginout">退出</a>
                    </li>
                </ul>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="母婴商城">
                    <h1 class="mallLogo">
                        <a href="/pre" title="logo"class="title">
                            <img src="/pre/res1/static/img/logo.jpg"style="width: 82px;height: 60px;">预医网
                        </a>
                    </h1>
                </a>
            </h1>
            <div class="mallSearch">
                <form action="" class="layui-form" novalidate>
                    <input type="text" name="title" required lay-verify="required" autocomplete="off"
                           class="layui-input" placeholder="请输入需要查询的医生">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <input type="hidden" name="" value="">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="content content-nav-base information-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="/pre">全部分类</a>
                    <a href="/information" class="active">所有医生</a>
                    <a href="/about">关于我们</a>
                  <!--  &lt;!&ndash;搜索框&ndash;&gt;
                    <div class="mallSearch">
                        <form action="" class="layui-form" novalidate>
                            <input type="text" name="title" required lay-verify="required" autocomplete="off"
                                   class="layui-input" placeholder="请输入需要的商品">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">
                                <i class="layui-icon layui-icon-search"></i>
                            </button>
                            <input type="hidden" name="" value="">
                        </form>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="info-list-box">
        <div class="info-list w1200">
            <div class="item-box layui-clear" id="list-cont">
                <div class="item" th:each="doc:${doclist}">
                	<div class="doc_id" style="display:none" th:text="${doc.d_id}"></div>
                    <div class="img">
                        <img th:src="${doc.d_picpath}" alt="" width="260" height="280">
                    </div>
                    <div class="text">
                        <h4 th:text="${doc.d_name}"></h4>
                        <p class="data"><span>坐诊科室:</span><i th:text="${doc.qusRoom1.r1_name+doc.qusRoom2.r2_name}"></i></p>
                        <p class="info-cont"><span>擅长:</span><i th:text="${doc.d_description}"></i><a href="">详细介绍>></a> </p>
                    </div>
                    <div class="registration left">
                    
                    	<a href="/phone"><span>电话咨询</span></a><!-- th:href="'javascript:goRead(${doc.d_id});'" -->
                    	<a class="on" th:onclick="'javascript:goRead('+${doc.d_id}+')'"><span>预约挂号</span></a>
                    	<a href="/online"><span>在线咨询</span></a>
                   	</div>
                </div>
            </div>
            <div id="demo0" style="text-align: center;"></div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/pre/js/jquery-1.8.2.min.js}"></script>
<script>
    /* layui.config({
        base: 'pre/res/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm','laypage'], function () {
        var mm = layui.mm, laypage = layui.laypage;
        laypage.render({
            elem: 'demo0'
            , count: 100 //数据总数
        });
        
      
        
        function goRead(d_id){
        	alert(d_id);
        	window.location.href = "/orderShow?d_id="+d_id;
        }   
        
    }); */
	
    function goRead(d_id){
    	window.location.href = "/orderShow?d_id="+d_id;
    }   
    
</script>

</body>
</html>